<launch>


  <!-- Load the octomap -->
	<rosparam param="use_sim_time">false</rosparam>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(find planner)/map/town.ot" output="screen">
	<param name="frame_id" value="world" />
</node>
  <!-- Launch the octomap conversion node -->


  <!-- Launch the grid map visualizer -->


  <!-- Launch RViz with the demo configuration -->

<node name="rviz" pkg="rviz" type="rviz" args="-d /home/ruthrash/Desktop/oct_default.rviz" />
</launch>
