<launch>


      <arg name="test_set_number" default="0"/>
<node pkg="planner" type="AnytimeAstar_MG" name="pathplanner" args="__ns:=firefly" output="screen"/>

	<include file="$(find rotors_gazebo)/launch/mav_hovering_example.launch">
	<arg name="mav_name" value="firefly"/>
	<arg name="world_name" value="town"/>
	<arg name="gui" value="true"/>
	</include>




  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(find planner)/map/town.ot" output="screen">
	<param name="frame_id" value="world" />
</node>

 <!-- Automated tests launch file-->
	<include file="$(find qac_test_automation)/launch/drone_test.launch">
	<arg name="test_set_number" value="$(arg test_set_number)"/>
	</include>

<!--
<node pkg="rviz" type="rviz" name="rviz" args="-d /home/ruthrash/Desktop/oct_default.rviz" output="log"/>-->



</launch>
