<launch>


      <arg name="test_set_number" default="0"/>
<node pkg="planner" type="AnytimeAstar_MG" name="pathplanner" args="__ns:=firefly" output="screen"/>


 <!-- Automated tests launch file-->
	<include file="$(find qac_test_automation)/launch/drone_test.launch">
	<arg name="test_set_number" value="$(arg test_set_number)"/>
	</include>

<node pkg="rviz" type="rviz" name="rviz" args="-d /home/ruthrash/Desktop/oct_default.rviz" output="log"/>



</launch>

